<!DOCTYPE html>
<html lang="en">

<head>
  <title>CyberLearn Dressing Room</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="./../assets/css/style.css" />
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="text-center">
            <img src="./../assets/images/cybersoft.png" alt="Card image" />
          </div>

          <div class="card-body">
            <h4 class="card-title text-center">
              CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
              - Virtual Dressing Room
            </h4>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <ul id="cyberNavPills" class="nav nav-pills" style="display: flex; justify-content: space-around;">

        </ul>
        <div class="well">
          <!-- Tab panes -->
          <div id="cyberTabPanes" class="tab-content">
            <div style="display: flex;" class="cyberTab" id="cybertopcloth"></div>
            <div style="display: none;" class="cyberTab" id="cyberbotcloth"></div>
            <div style="display: none;" class="cyberTab" id="cybershoes"></div>
            <div style="display: none;" class="cyberTab" id="cyberhandbag"></div>
            <div style="display: none;" class="cyberTab" id="cybernecklace"></div>
            <div style="display: none;" class="cyberTab" id="cyberhairstyle"></div>
            <div style="display: none;" class="cyberTab" id="cyberbackground"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="cyberDressModal" class="contain">  
          <div id="cyberBody" class="body"></div>
          <div id="cyberModel" class="model"></div>
          <div id="cyberHairStyle" class="hairstyle"></div>
          <div id="cyberNecklace" class="necklace"></div>
          <div id="cyberBikiniTop" class="bikinitop"></div>
          <div id="cyberBikiniBot" class="bikinibottom"></div>
          <div id="cyberHandbag" class="handbag"></div>
          <div id="cyberFeet" class="feet"></div>
          <div id="cyberBackGround" class="background"></div>       
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="./../models/ListChosen.js"></script>
  <script src="./../utils/callData.js"></script>
  <script src="./../controllers/main.js"></script>
  <script src="../init.js"></script>
</body>

</html>